body {
    margin-bottom: 0%;
}
a {
    text-decoration: none;
}
nav {
    background-color: rgb(22, 22, 22);
    height: 5rem;
    display: flex;
    align-items: center;
}
nav a {
    padding: 1rem;
    color: whitesmoke;
}
.logo {
    font-family: 'eczar-bold', sans-serif;
}
.nav {
    font-family: 'Archivo', sans-serif;
}
.nav a:hover {
    background-color: rgb(83, 83, 83);
}
body {
    background-color: #fff;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
.huvudbild1 {
    background-image: url("pexels-andrea-piacquadio-920382.jpg");
    background-size: cover;
    min-height: 36rem;
}
.bild1 {
    color: #fff;
    padding: 1rem;
    font-size: 3rem;
}
.köpte1 {
    display: inline-block;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 980px;
    background: #ffffff;
    margin-left: 1rem;
}
.köpte1 a {
    color: rgb(0, 0, 0);
}
main {
    font-family: 'Archivo', sans-serif;
}
.kort1 {
    width: 12rem;
    border: solid 1px black;
    height: 24.5rem;
    margin: 1rem;
}
.kort1 img {
    width: 100%;
    margin-bottom: 0.5rem;
}
.kort1 p {
    display: flex;
    justify-content: center;
}
.titel1 {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
}
.kort1text {
    display: flex;
    justify-content: center;
}
.tillbehör1 {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}
footer {
    background-color: gray;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}
footer div {
    max-width: 12rem;
}